* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 90vh;
    background-image: url(../images/poor.jpg);
    text-align: center;
    .page {
        height: 100vh;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(214, 139, 0);
        color: white;
        padding: .5rem;
        box-shadow: 0 3px 10px white;
        h1 {
            margin-left: 1rem;
        }
        ul {
            display: flex;
            list-style: none;
            font-size: 1.2rem;
            li {
                margin: 1rem;
                font-weight: 400;
                padding: .75rem;
                border-radius: 3rem;
                transition: all .5s;
            }
            li:hover {
                background-color: white;
                color: orange;
            }
        }
    }
    .content {
        display: block;
        align-items: center;
        margin: 2rem;
        padding: 2rem;
        width: auto;
        color: white;
        background-color: rgba(0,0,0,0.5);
        h1 {
            font-size: 3rem;
        }
        p{  
            display: block;
            font-size: 2rem;
        }
        .button {
            margin: 2rem;
        }
        button {
            margin: 1rem;
            padding: 1rem;
            font-weight: 600;
            color: white;
            font-size: 1.5rem;
            background-color: orange;
            border: 3px solid orange;
            box-shadow: 0 0 20px white;
            border-radius: 2rem;
            transition: all .3s;
        }

        button:hover {
            background-color: white;
            color: orange;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(214, 139, 0);
        padding: 1rem;
        color: white;
        box-shadow: 0 -3px 10px white;
        margin-top: 5.8rem;
        img {
            margin: .5rem;
        }
    }
}